$badge-background: #a78824;
$badge-color: #fff;
$badge-min-size: 12px;
$badge-max-size: 17px;

.badge {
    position: relative;
    letter-spacing: 0.08em;
    color: $badge-color;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: transform 0.3s ease;
    transform: rotate(-14deg);
    text-align: center;

    // filter: drop-shadow(0.2em 0.3em 0.6em rgba(0, 0, 0, 0.3));
    font-size: calc(#{$badge-min-size} + #{($badge-max-size - $badge-min-size) / 1px} * ((100vw - 420px) / (860)));

    @media screen and (max-width: 420px) {
        font-size: $badge-min-size;
    }

    @media screen and (min-width: 1280px) {
        font-size: $badge-max-size;
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 8em;
        height: 8em;
        border-radius: 100%;
        background: $badge-background;
        opacity: 1;
        transition: opacity 0.3s linear;
    }

    &:hover {
        color: $badge-color;
        text-decoration: none;
        transform: rotate(-10deg) scale(1.05);

        &::before {
            opacity: 1;
        }
    }

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        z-index: 0;
        width: 8em;
        height: 8em;
    }

    span {
        display: block;
        background: $badge-background;
        border-radius: 0.4em;
        padding: 0.4em 1em;
        z-index: 1;
        min-width: 8em;
        border: 1px solid;
        text-transform: uppercase;
    }

    ul.badges-list {
        margin: 0;

        padding: 0 40px;

        list-style: none;

        font-family: aller, sans-serif;

        width: 100%;

        letter-spacing: -4px;

        font-size: 1rem;

        text-align: center;

    }

    ul.badges-list li {
        width: 19%;
        letter-spacing: normal;
        padding: 5px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-family: Aller;
        color: #BF9704;
        font-size: 1.5em;
        float: none;
        display: inline-block;
    }
}