@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.headContainer{
    font-size: 30px;
    text-align: center;
}
.headContainer h1{
    font-weight: 550;
    line-height: 70px;
}
.headContainer p{
    font-size: 14px;
    margin-top: -20px;
    font-weight: 500;
    line-height: 30px;
}
.headContainer button{
    height: 45px;
    width: 180px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}
.mainContainerContainer1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.container1{
    height: 400px;
    justify-content: center;
    align-items: center;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.351);
    border-radius: 10px;
}
.container1 h1{
    font-size: 24px;
}
.container1 p{
    font-size: 13px;
}
.container1 button{
  background-color: black;
  color: white;
  height: 40px;
  width: 160px;
  border-radius: 10px;
  border: none;
}
.miniContainer1{
    padding-left: 30px;
}
.miniContainer2{
    height: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014_1280.jpg");
    background-size: cover;
    border-radius: 10px;
}


.mainContainer2{
    background-color: rgb(245, 245, 245);
    margin:200px 120px 0 120px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
}
.mainContainer2 .navContainer{
    background-color: rgba(222, 222, 222, 0.646);
    width: 900px;
    height: 40px;
    display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 7px;
   border-radius: 5px;
   margin-top: 0px;
}
.mainContainer2 .navContainer button{
    height: 40px;
    width: 180px;
    border-radius: 8px;
    border:none ;
}
.mainContainer2 .Container1{
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainContainer2 .Container1 .miniContainer1{
    background-color: transparent;
    height: 400px;
    width: 50%;
    display: flex;
     flex-direction: column;
     justify-content: center; 
}
.mainContainer2 .Container1 .miniContainer1 h1{
  margin: 0px 100px 0 100px;
}
.mainContainer2 .Container1 .miniContainer1 p{
    margin: 20px 30px 0 100px;
    font-weight: 300;
    line-height: 30px;
    font-size: 15px;
  }
  .mainContainer2 .Container1 .miniContainer1 button{
   height: 45px;
   width: 190px;
   font-size: 15px;
   border: 2px solid black;
   border-radius: 10px;
   background-color: transparent;
   margin: 40px 30px 0 100px;
}
.mainContainer2 .Container1 .miniContainer2{
    height: 400px;
    width: 50%;
    display: flex;
    justify-content: right;
}
.mainContainer2 .Container1 video{
    height: 400px;
    border-radius: 7px;
    margin-right: 90px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.351);
}
.Container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.Container2 p{
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin: 0 50px 0 50px;
}
.container3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
.container3{
    margin: 100px 60px 100px 40px;
}
.container3 div{
    width: 300px;
    height: 290px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.165);
    border-radius: 7px;
    padding: 0px 20px;
}
.container3 div svg{
    height: 25px;
    margin: 10px 0 -10px 0;
}
.container3 div a{
    color: rgb(0, 149, 255);
    text-decoration: none;
}
.container4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container4 div{
    border-radius: 7px;
    border: 1px solid rgba(0, 140, 255, 0.187);
    height: 80px;
    width: 800px;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 10px 0 0 0;
}
.container4 p{
    margin-left: 20px;
    font-weight: 600;
    color: rgba(11, 32, 114, 0.782);
}
.container4 h5{
    margin-left: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.mainContainerNum5Main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin: 30px 0 30px 0;
}
.containerNum5{
    width: 90%;
    display: grid;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.165);
    grid-template-columns: repeat(2,1fr);
   height: 100%;
}
.mini1ContainerNum5{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}
.mini2ContainerNum5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mini2ContainerNum5 button{
    height: 50px;
    width: 270px;
    border: none;
    border-radius: 7px;
    background-color: black;
    color: white;

}
  /* Media Query for smaller screens */
 
  @media (max-width: 956px) {

.container4 div{
    border-radius: 7px;
    border: 1px solid rgba(0, 140, 255, 0.187);
    height: 60px;
    width: 750px;
    display: flex;
    align-items: center;
}
.container4 p{
    font-size: 13px;
}
.container4 h5{
    font-size: 16px;
    line-height: 30px;
}


  }
  @media (max-width: 798px) {
  
.container4 div{
    border-radius: 7px;
    height: 40px;
    width: 650px;
    display: flex;
    align-items: center;
}
.container4 p{
    font-size: 13px;
}
.container4 h5{
    font-size: 16px;
    line-height: 30px;
}
.container1 h1{
    font-size: 20px;
}
.container1 p{
    font-size: 10px;
}
.container1 button{
    height: 25px;
    width: 100px;
    font-size: 10px;
}
.container1{
    height: 300px;
    justify-content: center;
    align-items: center;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.351);
    border-radius: 10px;
}
.mainContainerNum5Main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin: 30px 0 30px 0;
}
.containerNum5 h1{
    font-size: 22px;
}
.containerNum5 p{
    font-size: 12px;
}
.containerNum5{
   height: 90%;
}


.mini2ContainerNum5 button{
    height: 30px;
    width: 170px;
    font-size: 12px;
}

}
  @media (max-width: 768px) {
   
    .Container2 p{
        font-size: 14px;
    }
 
    .container3 div{
        width: 100%;
    }
  }
  
  @media (max-width: 755px) {
    .headContainer{
        font-size:25px;
    }
    .headContainer p{
        font-size: 11px;
    }
    .headContainer button{
        height: 40px;
        width: 140px;
    }
      
.container4 div{
    border-radius: 7px;
    height: 40px;
    width: 600px;
    display: flex;
    align-items: center;
}
.container4 p{
    font-size: 13px;
}
.container4 h5{
    font-size: 16px;
    line-height: 30px;
}
}
  

@media (max-width: 586px) {
    .headContainer{
        font-size:22px;
    }
    .headContainer p{
        font-size: 9px;
    }
    .headContainer button{
        height: 30px;
        width: 120px;
        font-size: 13px;
    }
    .container1 h1{
        font-size: 17px;
    }
    .container1 p{
        font-size: 8px;
    }
    .container1 button{
        height: 20px;
        width: 80px;
        font-size: 7px;
    }
    .container1{
        height: 300px;
        justify-content: center;
        align-items: center;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.351);
        border-radius: 10px;
    }
  
      .Container2 p{
          font-size: 10px;
      }
      .container3 div{
        width: 100%;
    }

.mainContainerNum5Main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 30px 0 30px 0;
}
.containerNum5 h1{
    font-size: 20px;
}
.containerNum5 p{
    font-size: 10px;
}
.containerNum5{
   height: 90%;
}


.mini2ContainerNum5 button{
    height: 30px;
    width: 140px;
    font-size: 10px;
}
      
.container4 div{
    border-radius: 7px;
    height: 40px;
    width: 550px;
    display: flex;
    align-items: center;
}
.container4 p{
    font-size: 13px;
}
.container4 h5{
    font-size: 12px;
    line-height: 30px;
}
}


@media (max-width: 564px) {

    .container3 div{
        width: 80%;
    }
      
.container4 div{
    border-radius: 7px;
    height: 40px;
    width: 450px;
    display: flex;
    align-items: center;
}
.container4 p{
    font-size: 11px;
}
.container4 h5{
    font-size: 11px;
    line-height: 30px;
}
}


@media (max-width: 462px) {
    .headContainer{
        font-size:17px;
    }
    .headContainer p{
        font-size: 7px;
    }
    .headContainer button{
        height: 30px;
        width: 120px;
        font-size: 13px;
    }
    .container3 div{
        width: 80%;
    }
      
.container4 div{
    border-radius: 7px;
    height: 40px;
    width: 350px;
    display: flex;
    align-items: center;
}
.container4 p{
    font-size: 10px;
}
.container4 h5{
    font-size: 11px;
    line-height: 30px;
}
}