.login-form {
  padding: 2rem 1rem;
  .input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(211, 211, 211);
    height: 40px;
    margin-bottom: 15px;
    border-radius: 15px;
  }
  .btn {
    margin: 1rem 7rem ;
    border-radius: 5px;
    text-align: center;
    width: 40%;
    align-items: center;
    color: var(--blue-color);
    padding: 0.5rem 1rem;
    border: 1px solid #b7e9f7;
    background-color: #dbf3fa;
    cursor: pointer;
    &:hover {
      background-color: var(--blue-color);
      color: #dbf3fa;
    }
    &.submitting {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  .error,
  .info {
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }
  .info {
    color: #aaa;
  }
}
.social-login {
  a:last-child {
    background: transparent;
    color: #656565;
    border: 1px solid #ccc;
   margin-bottom: 30px;
}
  a {
    content: '\f1a0 ';
    height: 20px;
    margin: 0 15px -5px;
    border-radius: 10px;
    display: block;
    position: relative;
    text-align: center;
    font-weight: 700;
    z-index: 0;
    background: #3b5998;
    color: #fff;
    padding: 10px 30px 10px 45px;
  }
}
