
.filter, .list-agents{
    margin: 0 auto;
    max-width: 60rem;
}
.list-agents {
    padding-bottom: 5rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}