.select-agent {
    min-width: 50vw;
    .label{
        font-weight: 600;
        margin: 0.5rem 0;
    }
    .title{
        font-weight: 700;
        font-size: 1.2rem;
    }
    .relative{
        position: relative;
        height: 350px;
        overflow-y: scroll;
        padding: 1rem;
        border: 1px solid #212121;
    }
    .header{
        padding: 0.5rem 0;
        margin: 0.5rem 0 0;
        font-weight: 700;
        border: 1px solid #212121;
    }
    .grid-5{
        display: grid;
        grid-template-columns: 5% 40% 10% 10% 20%;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
        >div:first-child {
            display: inline-flex;
        }
    }
    .grid-2 {
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;
    }
    .control{
        padding: 1rem;
        display: flex;
        justify-content: center;
    }
    input[type=radio]{
        width: 24px;
        height: 24px;
        margin: 0;
    }
    .pointer{
        cursor: pointer;
    }
}

.error{
    padding: 1rem 0 0;
}

@media(max-width: 480px){
    .select-agent {
        .title{
            font-size: 1rem;
        }
        .grid-5{
            display: grid;
            grid-template-columns: 5% 40% 10% 10% 20%;
            gap: 1rem;
        }
        input[type=radio]{
            width: 12px;
            height: 12px;
        }
    }
}