.profile {
  background-color: #eee;
  min-height: 100vh;
  &-settings {
    display: flex;
    align-items: flex-start;
    max-width: 1280px;
    margin: 0 auto;
    .tabs {
        flex-shrink: 0;
        margin: 2rem;
        background-color: #fff;
        box-shadow:  0 0 #0000, 0 0 #0000, var(--tw-shadow);
        border-radius: 0.5rem;
        &--head{
            text-transform: uppercase;
            padding: 1rem 2rem;
        }
        .tab {
            border-left: 4px solid transparent;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 1rem;
            font-weight: 500;
            font-size: 1.1rem;
            cursor: pointer;
            &.selected{
                border-left: 4px solid var(--blue-color);
                background-color: #eee;
            }
        }
    }

    .btn{
        font-size: 1.1rem;
        font-weight: 700;
        color: #fff;
        background-color: var(--green);
        cursor: pointer;
        padding: 0.5rem 2rem;
        border-radius: 0.5rem;
        &:hover {
            opacity: .9;
        }
    }

    .details {
        width: 100%;
        
        .p-section {
            margin: 2rem;
            background-color: #fff;
            box-shadow:  0 0 #0000, 0 0 #0000, var(--tw-shadow);
            border-radius: 0.5rem;
            display: none;
            .head {
                display: flex;
                gap: 1rem;
                align-items: center;
                padding: 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                border-bottom: 1px solid #ccc;
                .control{
                    flex: auto;
                    display: flex;
                    align-items: center;
                    flex-direction: row-reverse;
                }
            }
            .body {
                padding: 2rem;
            }
            &.selected{
                display: block;
            }
        }
    }
  }
}

@media(max-width: 880px){

    .profile-settings{

        .tabs{
            display: none;
        }

        .details{
            .p-section{
                display: block;
                margin: 1rem;
            }

        }
    }

}