.upload-image {
    border: 2px dashed #aaa;
    display: flex;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    color: #777;
    text-align: center;
    margin-bottom: 1rem;
    background-color: #eee;
    font-weight: 700;
    width: 100%;
    height: 5rem;
  
    
  
    &--error {
      color: red;
      border-color: red;
    }
  
    &--body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &--container{
        padding: 1rem 0;
        input {  
            position: absolute !important;
            height: 1px;
            width: 1px;
            overflow: hidden;
            clip: rect(1px 1px 1px 1px);
            clip: rect(1px, 1px, 1px, 1px);
            white-space: nowrap;
        }
    }
  
    &:hover {
      cursor: pointer;
    }
  
   
  }
  